.drop-area {
  /* position: relative; */
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 80%;
  height: 100%;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 33px rgb(221 221 221);
  /* padding: 20px 0; */
  margin-top: 60px;
  /* padding-bottom: 40px; */
  border: dotted 5px black;
  box-shadow: 0px 0px 0px rgb(150, 134, 255);
  border-color: black;
  transform: translateX(3px) translateY(4px);
  border: dotted 8px black;
  background-color: rgba(156, 140, 255, 0.469);
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.drop-png {
  width: 25%;
  margin: auto;
}

.image-preview img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  opacity: 0;
  z-index: 1; /* ensures the image is above other content */
  object-fit: cover;
}

.image-preview img[src] {
  opacity: 0.85;
}

.drop-area:hover::after {
  box-shadow: inset 0 0 35px rgba(217, 211, 255, 0.7); /* Creates the vignette effect */
}

.drop-area:hover {
  box-shadow: 0px 0px 0px rgb(150, 134, 255);
  border-color: black;
  /* transform:  translateX(3px) translateY(4px); */

  background-color: rgba(91, 74, 197, 0.469);
  border: dotted 11px black; /* Increase border size on hover */
  transform: scale(1.01); /* Slightly scale up the drop area */
}
